@using E_commerce_website.Models;
@model IEnumerable<Table_ProductDetail>

@{

    Layout = null;
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;

}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
}
.mainImage{
    height: 500px;
    width: 500px;
    border: 3px solid grey;
}

.sideImage{
    height: 100px;
    width: 100px;
    border: 3px solid grey;
}
</style>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script>
        $(function () {
            var imageURLs = new Array();
            $('#divIdsmall img').each(function () {
                imageURLs.push($(this).attr('src'));
            });
            $('#mainImage').attr('src', imageURLs[0]);
            $('#divIdsmall').on({
                mouseover: function () {
                    $(this).css({
                        'cursor': 'hand',
                        'border-color': 'red'
                    });
                },
                mouseout: function () {
                    $(this).css({
                        'cursor': 'default',
                        'border-color': 'grey'
                    });
                },
                click: function () {
                    var imageUrl = $(this).attr('src');
                    $('#mainImage').fadeOut(500, function () {
                        
                        $(this).attr('src', imageUrl);
                    }).fadeIn(500);
                }
            }, 'img');

        });
    </script>
</head>
<body>

    <div >
        <h1 class="header">
            Shopping List
        </h1>
        <h3 style="text-align:right">Username : @Session["UserName"]</h3>
        <h4 style="text-align:right"><a href="@Url.Action("Logout", "Login")">Logout</a></h4>


            <img id="mainImage" src="" alt ="Click an image to load" class="mainImage"/>
 
        <div id="divIdsmall">
            @foreach (Table_ProductDetail p in Model)
            {
                        <img src=@Url.Content(@p.ProductImagePath) alt="body" class="sideImage" />
            }      
        </div>
            @*@foreach (Table_ProductDetail p in Model)
            {
                <div class="row">
                    <div class="column">
                        <img src=@Url.Content(@p.ProductImagePath) alt="body" width="128" height="128" />
                        <div class=""></div>@p.ProductName
                    </div>
                </div>
            }*@       
       
    </div>
</body>
</html>